input.clear_selection_trace { margin: 5px 0px; }
input.pctile { vertical-align: middle; }
ol.conc_points li { margin-bottom: 7px; }
table.dynamic_display {
  font-size: x-small;
  margin-bottom: 5px;
}
table.dynamic_display td { padding-left: 3px; }
td {
  padding-left: 7px;
  padding-right: 7px;
}

#spreads_toggle {
  text-align: center;
  vertical-align: middle;
}

.border_lr { /* defined in js */ }
.center {
  margin-left: auto;
  margin-right: auto;
}
.choices_trace > div > * { vertical-align: middle; }
.graph_ap_overview_legend_trace { margin-left: 10px; }
.graph_colours {
  border: solid black 1px;
  padding: 8px;
  background-color: #fff;
}
.graph_input { color: #000; }
.graph_overview_trace {
  height: 100px;
  width: 166px;
}
.graph_pct_change_overview_legend_trace { margin-left: 10px; }
.graph_plot_PK_overview_legend_trace { margin-left: 10px; }
.graph_plot_tooltip {
  position: absolute;
  display: none;
  border: 1px solid #ccc;
  padding: 2px;
  background-color: #ddd;
  opacity: 0.9;
}
.graph_placeholder_trace {
  height: 300px;
  width: 500px;
}
.inline_block { display: inline-block; }
.input_highlighted {
  background-color: #bbf;
  padding: 3px;
}
.preformatted {
  font-family: "Courier New", Courier, monospace;
  white-space: pre;
}