/* Circle stuff is generally for dose-response chart points. */
body { margin: 0px; }
circle[class^="dr_every"] { fill: rgb(0, 255, 0); stroke: #000; }
circle[class^="dr_fs_all"] { fill: rgb(0, 136, 0); stroke: #000; }
circle[class^="dr_fs_sub50"] { fill: yellow; stroke: #000; }
circle[class^="dr_fs_maxresp"] { fill: rgb(255, 0, 0); stroke: #000; }
circle.hill { fill: gray; }
path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
#chart {
  float: left;
  width: 350px;
  height: 290px;
}
#index_images {
  margin-left: 10%;
  margin-right: 10%;
}
#raw_data {
  float: left;
  /* 507 aligns it with base of svg area to its left! */
  height: 507px;
  width: 350px;
  overflow: auto;
}
#svg {
  background-color: #ccc;
  height: 830px;
  padding: 5px;
}
#svg_area { float: left; }
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.block_span {
  opacity:0.90;
  filter:alpha(opacity=90);
  background-color: #eee;
  padding: 2px;
  border: double 3px #999;
}
.block_span > span {
  display: block;
  font-weight: bold;
  font-size: 12px;
}
.block_span > span:before {
  content: "- ";
}
.blue { color: blue; }
.bordered {
  border: solid #999 1px;
  margin: 2px;
}
.centered {
  margin: 0 auto;
  width: 90%;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node text { font-size: 11px; }
.split50_50 {
  margin: 2px;
  width: 45%;
  float: left;
}
.white {
  background-color: #fff;
}