div#graph_area {
  border: solid lightgrey 1px;
  margin-top: 3px;
}
.arrow-amber { border-top-color: #ffbf00; }
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top-style: solid;
  border-top-weight: 10px;
}
.arrow-red { border-top-color: #ffbf00; }
.border-amber { border-color: #ffbf00; }
.border-red { border-color: #f00; }
.centre {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.flag_style {
  background-color: #fff;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid black 1px;
}
/* These are progress/provenance information levels */
.level_WARN { background-color: #f90; }
.level_ERROR { background-color: #f00; }
.level_fatal { background-color: #f00; }
.progress_highlight {
  font-weight: bold;
  color: steelblue;
}
.row-highlight { background-color: #eee; }
.row-normal { background-color: #fff; }
.tab-tooltip {
  background-color: #fff;
  border-style: double;
  border-weight: 3px;
  opacity: 1;
  padding: 10px;
  position: absolute;
}
/* This class extends the jQuery UI definition */
.ui-inline-icon {
  width: 16px;
  height: 16px;
}