input.pctile { vertical-align: middle; }
#pct_change_choices_trace > div > * { vertical-align: middle; }
.graph_ap_overview_legend_trace { margin-left: 10px; }
.graph_input { color: #000; }
.graph_overview_trace {
  height: 100px;
  width: 166px;
}
.graph_pct_change_overview_legend_trace { margin-left: 10px; }
.graph_pct_change_tooltip {
  position: absolute;
  display: none;
  border: 1px solid #ccc;
  padding: 2px;
  background-color: #ddd;
  opacity: 0.9;
}
.graph_placeholder_trace {
  height: 300px;
  width: 500px;
}