.input_data_div {
  border: solid #ccc 1px;
  padding: 3px;
}
.iv_table_padded { padding: 1px 5px; }
/* table.xcss */
.dr-table {
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  background-color: #fff;
  empty-cells: show;
  border-collapse: collapse;
}
.dr-table-cell {
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 4px;
  font-size: 1em;
  color: #000;
  font-family: Arial,Helvetica,sans-serif;
}
.dr-table-firstrow {}
.dr-table-header {
  background-color: #cedfef;
  background-position: top left;
  background-repeat: repeat-x;
}
.dr-table-headercell {
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 4px;
  color: #369;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  font-family: Arial,Helvetica,sans-serif;
}
.dr-table-thead { border-bottom: solid 1px #ccc; }

/* general.css */
.rich-table, .rich-table-headercell {
  font-family: Arial,Helvetica,Sans-Serif;
  font-size: 1em;
}
.rich-table-headercell {
  font-weight: bold;
  background: #cedfef;
  color: #336699;
}
.rich-table-cell {
  font-family: Arial,Helvetica,Sans-Serif;
  font-size: 1em;
}
.rich-table-firstrow {}