/*
 * These are generally positioning styles.
 * Fonts and colours are in client-shared-site.css.
 */
div.body { padding: 1px; }
div.progress {
  height: 180px;
  width: auto;
  overflow: auto;
}
img { border: 0px; }
img.info { height: 15px; width: 15px; }
pre { font-family: monospace; }

#cs_login_registration {
  float: left; 
  width: 500px;
}
#cs_slideshow {
  padding-left: 20px;
  width: 1200px;
}
#cs_top_header_links { width: 33%; }
#cs_top_header_logo {
  width: 33%;
  white-space: nowrap;
}
#cs_top_header_title { 
  font-size: 1.5em;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  width: 33%; 
}
#cs_welcome { 
  float: left;
  width: 700px;
}
#js_debug {
  float: left;
  padding: 1px;
  overflow-y: auto;
  height: 500px;
  width: 250px;
}
#js_debug span:before { content: " - "; }

.cs_block_span > span { display: block; }
.cs_bold { font-weight: bold; }
.cs_centre { text-align: center; }
.cs_clearing { clear: both; }
.cs_default_width { width: 900px; }
.cs_float_left { float: left; }
.cs_float_right { float: right; }
.cs_inline { display: inline; }
.cs_italic { font-style: italic; }
.cs_no_display { display: none; }
.cs_rounded_3 {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.cs_rounded_5 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.cs_top_header_float {
  float: left;
  max-height: 80px;
}
.cs_top_header_float img {
  max-height: 80px;
}
.cs_underline { text-decoration: underline; }
.cs_user_icon {
  height: 16px;
  vertical-align: middle;
  width: 16px;
}