.extruder{position:fixed;cursor:default;background:url("../../img/extruder/extruder_blank.png")}
.extruder .header{height:27px}
.extruder .content{display:none;background:#002147}
.extruder.open .content{-moz-box-shadow:2px 0 5px #999;-webkit-box-shadow:2px 0 5px #999;box-shadow:2px 0 5px #999}
.extruder .footer{display:none;height:10px;background:#000;-moz-border-radius:0 0 8px 8px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:8px;border-bottom-right-radius:8px;-moz-box-shadow:2px 0 5px #999;-webkit-box-shadow:2px 0 5px #999;box-shadow:2px 0 5px #999}
/*
.extruder.top .flap{color:#fff;font:18px/28px Arial,Helvetica,sans-serif;text-align:center;display:block;margin:auto;padding:0 5px 5px 5px;height:30px;width:180px;background:#000;cursor:pointer;-moz-border-radius:0 0 8px 8px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:8px;border-bottom-right-radius:8px;-moz-box-shadow:2px 0 5px #999;-webkit-box-shadow:2px 0 5px #999;box-shadow:2px 0 5px #999;text-shadow:2px 2px 2px #333}
.extruder.top .content{-moz-border-radius:0 0 8px 8px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:8px;border-bottom-right-radius:8px}
.extruder.bottom .flap{position:relative;color:white;font:18px/28px Arial,Helvetica,sans-serif;text-align:center;display:block;margin:auto;margin-top:1px;padding:0 5px 5px 5px;height:30px;width:180px;background:#000;cursor:pointer;-moz-border-radius:8px 8px 0 0;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:0;text-shadow:2px 2px 2px #333;-moz-box-shadow:2px 0 5px #999;-webkit-box-shadow:2px 0 5px #999;box-shadow:2px 0 5px #999}
.extruder.bottom .footer{-moz-border-radius:8px 8px 0 0;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:0;position:relative;margin-top:-5px}
.extruder.bottom .content{-moz-border-radius:8px 8px 0 0;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:0}
.extruder.bottom .ext_wrapper{bottom:0}
.extruder.left{height:100%;background:url("../elements/extruder_blank.png")}
.extruder.left.open .content{-moz-box-shadow:2px 0 5px #999;-webkit-box-shadow:2px 0 5px #999;box-shadow:2px 0 5px #999}
.extruder.left .content{border-right:3px solid #000}
.extruder.left .ext_wrapper{height:100%}
.extruder.left .footer{display:none}
.extruder.left .flap{font-size:18px;color:white;top:0;padding:10px 0 10px 10px;margin-right:-37px;background:#000;width:30px;position:absolute;right:0;-moz-border-radius:0 8px 0 8px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:8px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:8px;border-top-left-radius:0;border-top-right-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:8px;-moz-box-shadow:2px 0 5px #999;-webkit-box-shadow:2px 0 5px #999;box-shadow:2px 0 5px #999}
.extruder.left .flap .flapLabel{background:#000}
*/
.extruder.right{height:100%;background:url("../../img/extruder/extruder_blank.png")}
.extruder.right .title{background:#002147;text-align:center;font-weight:bold;border-bottom:3px double gray;}
.extruder.right .content{border-left:1px solid #406187}
.extruder.right.open .content{-moz-box-shadow:-2px 0 5px #999;-webkit-box-shadow:-2px 0 5px #999;box-shadow:-2px 0 5px #999}
.extruder.right .ext_wrapper{height:100%;right:0}
.extruder.right .footer{display:none}
.extruder.right .flap{font-size:18px;color:white;top:0;padding:10px 6px 10px 6px;background:#002147;width:16px;position:absolute;left:-27px;-moz-border-radius:8px 0 8px 0;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:0;-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:0;border-top-left-radius:8px;border-top-right-radius:0;border-bottom-left-radius:8px;border-bottom-right-radius:0;-moz-box-shadow:-2px 0 5px #999;-webkit-box-shadow:-2px 0 5px #999;box-shadow:-2px 0 5px #999}
.extruder.right .flap .flapLabel{background:#002147}
.extruder .voice{font:18px/24px Arial,Helvetica,sans-serif;color:white;padding:5px;height:27px;border-bottom:1px solid #333;text-shadow:2px 2px 2px #333}
.extruder .voice:last-child{border-bottom:0}
.extruder .voice .disabled{cursor:default}
.extruder .text{background:#406187;color:white;padding:5px;border-bottom:1px solid gray;text-shadow:2px 2px 2px #333}
.extruder .voice.hover{background:url("../../img/extruder/extruder_voiceHover.png") no-repeat top}
.extruder .voice.sel{background:url("../../img/extruder/extruder_voiceHover.png") no-repeat top}
.extruder .voice img{float:left;margin-right:15px}
.extruder .voice a.label{display:block;height:30px;color:white;padding-top:0;text-decoration:none}
.extruder .voice span.label{display:block;height:30px;color:#d0cfcf;padding-top:0;text-decoration:none}
.extruder .voice span.subtitle{font-weight: bold;}
.extruder .voice{position:relative}
.extruder .settingsBtn{display:block;position:absolute;width:36px;height:36px;background:url("../../img/extruder/settingsBtn.png") no-repeat bottom;cursor:pointer;right:-3px;top:-4px}
.extruder .optionsPanel{background:url("../../img/extruder/fuzz.gif");display:none;border-bottom:1px solid #333}
.extruder .voice.sel{background:url("../../img/extruder/extruder_voiceHover.png") no-repeat top}
.optionsPanel .panelVoice a{text-decoration:none;display:block;color:#ccc;padding:8px;padding-left:20px;font-size:16px;text-shadow:2px 2px 2px #333;border-bottom:1px solid #000;cursor:pointer}
.optionsPanel .panelVoice a:hover{color:#fff;background:url("../../img/extruder/red_op_50.png")}:focus{outline:0}
.extruder .row label{padding-right: 4px}
#pc50_sortable {list-style-type:none;margin:0;padding:0}
#pc50_sortable li{margin:5px 1px;padding:2px;font-size:1.2em;height:1.3em;line-height:1.2em;}
#pc50_sortable .ui-state-highlight{height:1.3em;line-height:1.2em;}
#strategy_description {margin-top:2px;padding:2px;}
.extruder table {color: white; text-shadow: 2px 2px 2px #333}